<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Pricing</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="icon" type="image/png" href="/img/doctech.png">
  <link rel="stylesheet" href="/css/pricing-plan.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 justify-content-between sticky-top">
    <div class="container">
      <a class="navbar-brand" href="/" style="color: #e4316f; font-size: 20px; font-weight: 400">DocTech</a>

      <div class="flex-grow-0" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="login-btn" href="/">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main>
    <div class="container">
      <h1 class="text-center pricing-table-subtitle">OUR PRICING</h1>
      <p class="text-center pricing-table-title text-muted">
        What Ever You Need We Can help
      </p>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card pricing-card pricing-plan-basic">
            <div class="card-body">
              <i class="mdi mdi-cube-outline pricing-plan-icon"></i>
              <p class="pricing-plan-title">1 Month</p>
              <p class="text-muted pricing-plan-text">Save 0%</p>
              <h3 class="pricing-plan-cost ml-auto">4000 EGP</h3>
              <ul class="pricing-plan-features">
                <li>1 Month Access To All Features</li>
              </ul>
              <a href="https://wa.me/+201001025684" target="_blank" class="btn pricing-plan-purchase-btn">Contact Us</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card pricing-card pricing-card-highlighted pricing-plan-pro">
            <div class="card-body">
              <i class="mdi mdi-trophy pricing-plan-icon"></i>
              <p class="pricing-plan-title">3 Months</p>
              <p class="text-muted pricing-plan-text">Save 4%</p>
              <h3 class="pricing-plan-cost ml-auto">11000 EGP</h3>
              <ul class="pricing-plan-features">
                <li>3 Month Access To All Features</li>
              </ul>
              <a href="https://wa.me/+201001025684" target="_blank" class="btn pricing-plan-purchase-btn">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card pricing-card pricing-plan-enterprise">
            <div class="card-body">
              <i class="mdi mdi-wallet-giftcard pricing-plan-icon"></i>
              <p class="pricing-plan-title">6 Months</p>
              <p class="text-muted pricing-plan-text">Save 12.5%</p>
              <h3 class="pricing-plan-cost ml-auto">21000 EGP</h3>
              <ul class="pricing-plan-features">
                <li>6 Month Access To All Features</li>
              </ul>
              <a href="https://wa.me/+201001025684" target="_blank" class="btn pricing-plan-purchase-btn">Contact Us</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card pricing-card pricing-plan-Gold">
            <div class="card-body">
              <i class="mdi mdi-crown pricing-plan-icon"></i>
              <p class="pricing-plan-title">12 Months</p>
              <p class="text-muted pricing-plan-text">Save 2 Months</p>
              <h3 class="pricing-plan-cost ml-auto">40000 EGP</h3>
              <ul class="pricing-plan-features">
                <li>12 Month Access To All Features</li>
              </ul>
              <a href="https://wa.me/+201001025684" target="_blank" class="btn pricing-plan-purchase-btn">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12">
          <h3 class="text-center">
            Request Your <span class="demo-text">Demo</span> Now
          </h3>
        </div>
        <div class="col-12 mt-3">
          <div class="d-flex align-items-center justify-content-center gap-2">
            <span class="contact-text">Contact Us:</span>
            <div class="ico">
              <a href="https://wa.me/+201001025684" target="_blank">
                <i class="mdi mdi-whatsapp"></i>
              </a>
            </div>
            <div class="ico facebook">
              <a href="https://www.facebook.com/profile.php?id=61560043623851">
                <i class="mdi mdi-facebook"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>

</html>