<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <td class="" background="" align="center" valign="top">
          <table class="container" align="center" width="640" cellpadding="0" cellspacing="0" border="0" style="max-width: 640px">
            <tbody>
              <tr>
                <td align="center"></td>
              </tr>
            </tbody>
          </table>

          <table width="640" class="wrapper" align="center" border="0" cellpadding="0" cellspacing="0" style="max-width: 640px">
            <tbody>
              <tr>
                <td align="center">
                  <table class="ml-default" width="100%" bgcolor="" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td style="">
                          <table class="container ml-4 ml-default-border" width="640" bgcolor="#e8f2fc" align="center" border="0" cellspacing="0" cellpadding="0" style="width: 640px; min-width: 640px">
                            <tbody>
                              <tr>
                                <td class="ml-default-border container" height="50" style="line-height: 50px; min-width: 640px"></td>
                              </tr>
                              <tr>
                                <td>
                                  <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td class="row" align="left" style="padding: 0 50px">
                                          <img src="/img/header.png" border="0" alt="" width="220" class="logo" style="
                                                max-width: 100%;
                                                display: inline-block;
                                              " />
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="ml-default" width="100%" bgcolor="" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td style="">
                          <table class="container ml-6 ml-default-border" width="640" bgcolor="#e8f2fc" align="center" border="0" cellspacing="0" cellpadding="0" style="
                                color: #111111;
                                width: 640px;
                                min-width: 640px;
                              ">
                            <tbody>
                              <tr>
                                <td class="ml-default-border container" height="20" style="line-height: 20px; min-width: 640px"></td>
                              </tr>
                              <tr>
                                <td class="row" style="padding: 0 50px">
                                  <h1 style="
                                        font-family: 'Inter', sans-serif;
                                        color: #111111;
                                        font-size: 44px;
                                        line-height: 125%;
                                        font-weight: bold;
                                        font-style: normal;
                                        text-decoration: none;
                                        margin-bottom: 10px;
                                      ">
                                    Thanks for
                                  </h1>
                                  <h1 style="
                                        font-family: 'Inter', sans-serif;
                                        color: #111111;
                                        font-size: 44px;
                                        line-height: 125%;
                                        font-weight: bold;
                                        font-style: normal;
                                        text-decoration: none;
                                        margin-bottom: 10px;
                                        margin-bottom: 0;
                                      ">
                                    choosing&nbsp;<span style="
                                          background-color: transparent;
                                          color: rgb(25, 102, 255);
                                        ">Doc
                                      <span style="
                                            color: #fb575f;
                                            margin-left: -12px;
                                          ">Tech</span></span>
                                  </h1>
                                </td>
                              </tr>
                              <tr>
                                <td height="50" style="line-height: 50px"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="ml-default" width="100%" bgcolor="" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td style="">
                          <table class="container ml-8 ml-default-border" width="640" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0" style="
                                color: #111111;
                                width: 640px;
                                min-width: 640px;
                              ">
                            <td class="row" style="padding: 0 50px">
                              <h1 style="
                                    font-family: Arial, Helvetica, sans-serif;
                                    color: #000000;
                                    font-size: 24px;
                                    line-height: 165%;
                                    font-weight: bold;
                                    font-style: normal;
                                    text-decoration: none;
                                    margin-bottom: 10px;
                                  ">
                                <strong>Hi <%=fristName%>,</strong>
                              </h1>
                              <p style="
                                    font-family: Arial, Helvetica, sans-serif;
                                    color: #000000;
                                    font-size: 14px;
                                    line-height: 165%;
                                    margin-top: 0;
                                    margin-bottom: 0;
                                  ">
                                You recently requested to reset your password
                                for your DocTech account. Click the
                                button below to reset it. This password reset
                                link is only valid for the next 10 minute's.
                              </p>
                            </td>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="ml-default" width="100%" bgcolor="" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td style="">
                          <table class="container ml-10 ml-default-border" width="640" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0" style="
                                color: #111111;
                                width: 640px;
                                min-width: 640px;
                              ">
                            <tbody>
                              <tr>
                                <td class="ml-default-border container" height="10" style="line-height: 10px; min-width: 640px"></td>
                              </tr>
                              <tr>
                                <td class="row" style="padding: 0 50px">
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td class="col" valign="top" width="250">
                                          <a href="<%=url%>" target="_blank" style="width: 130px;
                                            
                                            text-decoration: none;
                                            display: inline-block;
                                            background-color: rgb(25, 102, 255);
                                            color: #ffffff;
                                            padding: 10px 25px;
                                            border-radius: 5px;
                                            font-size: 18px;
                                            text-align: center;

                                            
                                            ">
                                            reset password
                                          </a>
                                        </td>
                                        <td class="col" width="40" height="30" style="line-height: 30px"></td>
                                        <td class="col" valign="top" width="250">

                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>



                  <table class="ml-default" width="100%" bgcolor="" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td style="">
                          <table class="container ml-44 ml-default-border" width="640" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0" style="width: 640px; min-width: 640px">
                            <tbody>
                              <tr>
                                <td class="ml-default-border container" height="10" style="line-height: 10px; min-width: 640px"></td>
                              </tr>
                              <tr>
                                <td>
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td class="row" style="padding: 0 50px" align="center">
                                          <table role="presentation" cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                                            <tbody>
                                              <tr>
                                                <td height="1" style="
                                                      border-top: 1px solid
                                                        #eeeeee;
                                                      line-height: 1px;
                                                    "></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td height="10" style="line-height: 10px"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="ml-default" width="100%" bgcolor="" align="center" border="0" cellspacing="0" cellpadding="0">


                    <table class="ml-default" width="100%" bgcolor="" align="center" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="">
                            <table class="container ml-54 ml-default-border" width="640" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0" style="
                                color: #111111;
                                width: 640px;
                                min-width: 640px;
                              ">
                              <tbody>
                                <tr>
                                  <td class="ml-default-border container" height="20" style="line-height: 20px; min-width: 640px"></td>
                                </tr>
                                <tr>
                                  <td class="row" style="padding: 0 50px">
                                    <h2 style="
                                        font-family: 'Inter', sans-serif;
                                        color: #000000;
                                        font-size: 18px;
                                        line-height: 125%;
                                        font-weight: bold;
                                        font-style: normal;
                                        text-decoration: none;
                                        margin-bottom: 10px;
                                      ">
                                      <strong>We're here to help</strong>
                                    </h2>
                                    <p style="
                                        font-family: 'Inter', sans-serif;
                                        color: #111111;
                                        font-size: 14px;
                                        line-height: 165%;
                                        margin-top: 0;
                                        margin-bottom: 10px;
                                      ">
                                      If you have any questions or want more
                                      information, drop us a message
                                      at&nbsp;<span style="color: rgb(25, 102, 255)"><u>
                                          <a href="mailto:{{support@doctech.nl}}">support@doctech.nl</a>
                                        </u></span>.
                                    </p>
                                    <p style="
                                        font-family: 'Inter', sans-serif;
                                        color: #111111;
                                        font-size: 14px;
                                        line-height: 165%;
                                        margin-top: 0;
                                        margin-bottom: 0;
                                      ">
                                      -&nbsp;The DocTech Team
                                    </p>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="50" style="line-height: 50px"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>


                    <tr>
                      <td height="25" style="line-height: 25px"></td>
                    </tr>
                    <tr>
                      <td align="center" style="
                                              text-align: center !important;
                                            ">
                        <p style="
                                                font-family: 'Inter', sans-serif;
                                                color: #a2a9b0;
                                                font-size: 14px;
                                                line-height: 150%;
                                                display: inline-block;
                                                margin-bottom: 0;
                                              ">
                          © 2023 DocTech. All
                          rights reserved.
                        </p>
                      </td>
                    </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td height="50" style="line-height: 50px"></td>
      </tr>
    </tbody>
  </table>
  </td>
  </tr>
  </tbody>
  </table>
  </td>
  </tr>
  </tbody>
  </table>

  <table cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px" class="mlContentTable">
    <tbody>
      <tr>
        <td height="40" class="spacingHeight-20"></td>
      </tr>
    </tbody>
  </table>

  <table class="ml-hide-branding mlContentTable" cellpadding="0" cellspacing="0" border="0" align="center" width="640" style="width: 640px; min-width: 640px"></table>
  </td>
  </tr>
  </tbody>
  </table>
</body>

</html>