<div x-show="currentPage === 3" class="form-page" id="page-4">
  <div class="my-3 row nophoto-row" id="l-MHistories">
    <h5>Past Medical Histories</h5>
    <div class="insidecontent" id="MhistorysContainer">
      <div class="twoinputs row">
        <div class="col-16 my-1">
          <textarea class="form-control" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Type" autocomplete="on" name="MhistorysType"></textarea>
        </div>
        <div class="col-16 my-1">
          <textarea class="form-control" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Comment" autocomplete="on" name="MhistorysComment"></textarea>
        </div>
        <div class="col-16 my-1 text-center ">
          <i class="ph ph-bold ph-x"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- item -->

  <div class="my-3 row text-center btn-row">
    <div class="col">
      <button class="btn btn-outline-primary add-btn" type="button" onclick="addclonemain('MhistorysContainer')">
        Add Medical Histories
      </button>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-6 text-center">
      <button type="button" class="btn btn-secondary" @click="currentPage = 2; activeListItem = 2">Back</button>
    </div>
    <div class="col-6 text-center">
      <button type="button" class="btn btn-primary" @click="currentPage = 4; activeListItem = 4">Next</button>
    </div>
  </div>

</div>