<div x-show="currentPage === 5" class="form-page" id="page-6">
  <div class="my-3 row nophoto-row" id="l-medications">
    <h5>past medications</h5>
    <div class="insidecontent" id="PmedicationsContainer">
      <div class="twoinputs row">
        <div class="col-12 my-1">
          <textarea class="form-control" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Type" autocomplete="on" name="medicationsType"></textarea>
        </div>
        <div class="col-12 my-1">
          <textarea class="form-control" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Comment" autocomplete="on" name="medicationsComment"></textarea>
        </div>
        <div class="col-12 my-1 text-center ">
          <i class="ph ph-bold ph-x"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="my-3 row text-center btn-row">
    <div class="col">
      <button class="btn btn-outline-primary add-btn" type="button" onclick="addclonemain('PmedicationsContainer')">
        Add past medications
      </button>
    </div>
  </div>
  <div class="row mt-2">

    <div class="col-6 text-center">
      <button type="button" class="btn btn-secondary" @click="currentPage = 4; activeListItem = 4">Back</button>
    </div>
    <div class="col-6 text-center">
      <button type="button" class="btn btn-primary" @click="currentPage = 6; activeListItem = 6">Next</button>
    </div>
  </div>
</div>