<div class="row my-5 mx-3 sticky left-10">
    <div class="col sticky">
      <div id="list-example" class="list-group">
        <h4 class="text-center mt-5">Navigation</h4>
        <a class="list-group-item list-group-item-action" href="#l-Diagnosis">Diagnosis</a>
        <a class="list-group-item list-group-item-action" href="#l-Complaints">Complaints</a>
        <a class="list-group-item list-group-item-action" href="#l-MHistories">Past Medical Histories</a>
        <a class="list-group-item list-group-item-action" href="#l-FHistory">Family History</a>
        <a class="list-group-item list-group-item-action" href="#l-Investigations">Investigations Results</a>
        <a class="list-group-item list-group-item-action" href="#l-medications">Past medications</a>
        <a class="list-group-item list-group-item-action" href="#accordionExample">DMD</a>
        <a class="list-group-item list-group-item-action" href="#l-Information">Vital Information</a>
        <a class="list-group-item list-group-item-action" href="#l-Examination">Examination</a>
        <a class="list-group-item list-group-item-action" href="#l-Plan">Plan</a>
        <a class="list-group-item list-group-item-action" href="#l-RInvestigations">Requested Investigations</a>
        <a class="list-group-item list-group-item-action" href="#l-CMedications">Current Medications</a>
      </div>
    </div>
  </div>